// Windows安装scss(即sass)：1.安装Chocolatey；2.管理员权限运行cmd，choco install ruby；3.管理员权限运行cmd，ruby install sass；4.将ruby\bin\sass.bat添加到File Watchers的Scss程序路径中
// Mac安装scss：1.安装node.js；2.npm install -D sass-loader；3.npm root找到包存放目录里对应的.../sass/sass.js,并将其添加到File Watchers的Scss程序路径中

.card {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #edecd6;
    border-radius: 5px 5px 0 0;
    background-color: white;

    > div {
      a {
        font-size: 14px;
      }
    }
  }

  .body {
    padding: 10px 20px 20px 20px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    font-size: 14px;
  }
}

#app {
  width: 100%;

  nav {
    width: calc(100% - 240px);
    height: 60px;
    //background: var(--nav_bg);
    display: flex;
    align-items: center;
    padding: 0 120px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;


    .left {
      width: 80%;
    }

    .right {
      width: 20%;
      display: flex;
      justify-content: right;

      img {
        width: 20px;
        margin-right: 20px;
        cursor: pointer;
      }
    }

    a {
      margin-right: 20px;
      color: var(--nav_color);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 780px;

    // dynamic rotation image
    > .rotate_img {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 1s;
      opacity: 0;

      &:last-child {
        opacity: 1;
      }

      img {
        width: 100%;

      }
    }
  }

  main {
    width: calc(100% - 240px);
    min-height: 600px;
    display: flex;
    justify-content: center;
    padding: 20px 120px;
    background: var(--main_bg);
    color: var(--main_color);
    font-family: Hei;
  }

  .main {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;

    > div > div {
      margin-bottom: 15px;
    }

    .left {
      width: 74%;

      .all_articles > .body {
        background-color: transparent;
        padding: 0;

        > ul {
          width: 100%;

          > li {
            width: 100%;
            display: flex;
            background-color: white;
            margin-bottom: 20px;
            border-radius: 5px;

            &:first-child {
              border-radius: 0 0 5px 5px;
            }

            .left {
              width: 30%;
              box-sizing: border-box;
              padding: 20px 20px 20px 20px;

              // img标签外包一层div，以实现img hover放大的时候在固定的尺寸内
              > div {
                width: 100%;
                height: 185px;
                overflow: hidden;
                border-radius: 3px;
              }

              img {
                width: 100%;

                &:hover {
                  transform: scale(1.1);
                  transition: all 0.3s;
                }
              }
            }

            .right {
              width: 70%;
              box-sizing: border-box;
              padding: 20px 20px 20px 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              > h2 {
                font-size: 22px;
              }

              p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
              }

              .extra_info {
                color: #777;

                > span {
                  margin-right: 10px;

                  > i {
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .right {
      width: 25%;

      .recommendation > .body {
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-top: 10px;

          li {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;
            &:last-child{
              margin-bottom: 0;
            }

            > a {
              padding-right: 20px;
            }

            > span {
              color: #777;
              font-size: 12px;
              min-width: 70px;

              i {
                padding-right: 5px;
              }
            }
          }
        }
      }

      .tags > .body {
        position: relative;

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-top: 10px;

          // the keyframes to achieve animation effect
          @keyframes move_block {
            0% {
              left: 0px;
              top: 0px;
            }
            25% {
              left: calc(100% - 20px);
              top: 0px;
            }
            50% {
              left: calc(100% - 20px);
              top: calc(100% - 20px);
            }
            75% {
              left: 0px;
              top: calc(100% - 20px);
            }
            100% {
              left: 0px;
              top: 0px;
            }
          }

          &::before {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            background-color: #ff9800;
            -webkit-animation: move_block 5s infinite; // adapt safari and chrome
            animation: move_block 5s infinite; // setup animation name, animation duration and animation iteration count
          }

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.33%;
            height: 40px;

            &:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+3) {
              background-color: #f4f4f4;
            }
          }
        }
      }
    }
  }


  footer {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    background: var(--footer_bg);
    color: var(--footer_color);

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .contacts {
        display: flex;
        width: 250px;
        justify-content: space-between;

        > div {
          position: relative;

          .qrcode {
            position: absolute;
            width: 70px;
            left: -18px;
            top: -35px;
            transition: all 0.4s;
            opacity: 0;
          }

          .svg {
            position: relative;
            width: 35px;
            cursor: pointer;
            z-index: 1;

            &:hover {
              & ~ .qrcode {
                left: -18px;
                top: -70px;
                opacity: 1;
              }
            }
          }
        }
      }

      .site_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .copyright {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          display: flex;
          align-items: center;
          padding-left: 15px;

          //&:hover {
          //  color: #6f94c6;
          //}

          img {
            width: 15px;
          }
        }
      }

      .version {
        display: flex;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 55px;
          height: 25px;
          color: #fff;

          &:nth-child(1) {
            background-color: #ff9800;
            border-radius: 5px 0 0 5px;
          }

          &:nth-child(2) {
            background-color: #26c6da;
            border-radius: 0 5px 5px 0;
          }
        }

      }
    }
  }
}