<!DOCTYPE html>
<html lang="en">
{% load custom_tag %}
<head>
    <meta charset="UTF-8">
    <title>Evan's Blog</title>
    <link rel="stylesheet" href="/static/assets/css/reset.css">
    <link rel="stylesheet" href="/static/assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="/static/vue/vue.js"></script>
</head>
<body>

<div id="app">
    <link rel="stylesheet" :href="'/static/assets/css/theme/' + theme +'.css'">
    <nav>
        <div class="left">
            <a href="/">首页</a>
            <a href="/news">新闻</a>
            <a href="/article">文章</a>
            <a href="/about">关于</a>
        </div>
        <div class="right">
            <img v-show="theme === 'light'" src="/static/assets/img/navi/light.svg" @click="setTheme('dark')"
                 alt="Switch to light theme">
            <img v-show="theme === 'dark'" src="/static/assets/img/navi/dark.svg" @click="setTheme('light')"
                 alt="Switch to dark theme">
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
    </nav>
    {% header_banner "index page" %}
    <main>
        {% block main %}
            <div class="main">
                <div class="left">
                    <div class="all_articles card">
                        <div class="title">
                            <h3>博客文章</h3>
                        </div>
                        <div class="body">
                            <ul>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="/static/assets/img/blog/python.png" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>
                                            <a href="">Python简介</a>
                                        </h2>
                                        <p>
                                            Python 是一个高层次的结合了解释性、编译性、互动性和面向对象的脚本语言;
                                            Python 的设计具有很强的可读性，相比其他语言经常使用英文关键字，其他语言的一些标点符号，它具有比其他语言更有特色语法结构;
                                            Python是一种高级的面向对象编程语言。使用Python语言编写的程序是跨平台的，从客户端到服务端，再到Web端，以及移动端，都有Python的身影。Python就是一种全栈编程语言。
                                            Python 是一个高层次的结合了解释性、编译性、互动性和面向对象的脚本语言。
                                        </p>
                                        <div class="extra_info">
                                            <span>
                                                <i class="fa fa-clock-o"></i>2022-05-01
                                            </span>
                                                    <span>
                                                <i class="fa fa-thumbs-o-up"></i>99
                                            </span>
                                                    <span>
                                                <i class="fa fa-eye"></i>99
                                            </span>
                                                    <span>
                                                <i class="fa fa-comments-o"></i>9
                                            </span>
                                                    <span>
                                                <i class="fa fa-star-half-o"></i>99
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="left">
                                        <div>
                                            <img src="/static/assets/img/blog/python.png" alt="">
                                        </div>
                                    </div>
                                    <div class="right">
                                        <h2>
                                            <a href="">Vue.js简介</a>
                                        </h2>
                                        <p>
                                            Vue 是一套用于构建用户界面的渐进式javascript框架，与其它大型框架不同的是：
                                            Vue被设计为可以自底向上逐层应用。Vue的核心库只关注视图层，不仅易于上手，还便于与第三方库或既有项目整合，
                                            另外一个方面,当Vue与现代化的工具链以及各种支持类库结合使用时，Vue也完全能够为复杂的单页应用提供驱动
                                        </p>
                                        <div class="extra_info">
                                            <span>
                                                <i class="fa fa-clock-o"></i>2022-05-01
                                            </span>
                                                    <span>
                                                <i class="fa fa-thumbs-o-up"></i>99
                                            </span>
                                                    <span>
                                                <i class="fa fa-eye"></i>99
                                            </span>
                                                    <span>
                                                <i class="fa fa-comments-o"></i>9
                                            </span>
                                                    <span>
                                                <i class="fa fa-star-half-o"></i>99
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="recommendation card">
                        <div class="title">
                            <h3>相关推荐</h3>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                           <ul>
                               <li>
                                   <a href="">Python入门介绍</a>
                                   <span>
                                       <i class="fa fa-eye"></i>42342
                                   </span>
                               </li>
                               <li>
                                   <a href="">Python面向对象开发编程</a>
                                   <span>
                                       <i class="fa fa-eye"></i>1234567
                                   </span>
                               </li>
                               <li>
                                   <a href="">Python 爬虫教程 - OCR 识别图形验证码</a>
                                   <span>
                                       <i class="fa fa-eye"></i>42342
                                   </span>
                               </li>
                               <li>
                                   <a href="">Python3 爬虫教程 - Session + Cookie 模拟登录爬取实战</a>
                                   <span>
                                       <i class="fa fa-eye"></i>999999
                                   </span>
                               </li>
                               <li>
                                   <a href="">Python入门介绍</a>
                                   <span>
                                       <i class="fa fa-eye"></i>42342
                                   </span>
                               </li>
                           </ul>
                        </div>
                    </div>
                    <div class="hot_news card">
                        <div class="title">
                            <h3>今日热搜</h3>
                            <div>
                                <a href="#">查看更多</a>
                            </div>
                        </div>
                        <div class="body">
                            content
                        </div>
                    </div>
                    <div class="tags card">
                        <div class="title">
                            <h3>相关标签</h3>
                        </div>
                        <div class="body">
                            <ul>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                                <li>python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="site_info card">
                        <div class="title">
                            <h3>站点信息</h3>
                        </div>
                        <div class="body">
                            content
                        </div>
                    </div>
                    <div class="feedback card">
                        <div class="title">
                            <h3>意见反馈</h3>
                        </div>
                        <div class="body">
                            content
                        </div>
                    </div>
                    <div class="friend_link card">
                        <div class="title">
                            <h3>友情链接</h3>
                        </div>
                        <div class="body">
                            content
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
    <footer>
        <div>
            <div class="contacts">
                <div>
                    <img class="svg" src="/static/assets/img/footer/wechat.svg" alt="Webchat">
                    <img class="qrcode" src="/static/assets/img/footer/wechat_qrcode.png" alt="Wechat QRCode">
                </div>
                <div>
                    <img class="svg" src="/static/assets/img/footer/qq.svg" alt="QQ">
                    <img class="qrcode" src="/static/assets/img/footer/qq_qrcode.png" alt="QQ QRCode">
                </div>
                <div>
                    <a href="https://space.bilibili.com/430114801" target="_blank">
                        <img class="svg" src="/static/assets/img/footer/bilibili.svg" alt="Bilibili">
                    </a>
                </div>
                <div>
                    <a href="https://blog.csdn.net/evanzhang_z" target="_blank">
                        <img class="svg" src="/static/assets/img/footer/csdn.svg" alt="CSDN">
                    </a>
                </div>
                <div>
                    <a href="https://github.com/EZevan" target="_blank">
                        <img class="svg" src="/static/assets/img/footer/github.svg" alt="CSDN">
                    </a>
                </div>
            </div>

            <p class="copyright">
                © 2022 EVANSBLOG.COM 版权所有.
                <a href="https://beian.miit.gov.cn/">
                    <img src="http://www.beian.gov.cn/img/new/gongan.png" alt="公安备案">沪ICP备09061941号-4
                </a>
            </p>
            <p>建站日期: 2022-05-01</p>
            <p class="version">
                <span>version</span>
                <span>1.0.0</span>
            </p>

        </div>
    </footer>
</div>

<script>
    new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            theme: "light"    //default theme
        },
        created() {
            this.initTheme();
        },
        methods: {
            // Initialize theme while uploading page
            initTheme() {
                let theme = localStorage.getItem("theme")
                if (theme) {
                    this.theme = theme;
                }
            },

            setTheme(themeName) {
                // setup theme
                this.theme = themeName;
                // store current theme to localStorage
                localStorage.setItem("theme", themeName);
            }
        }
    })

    let rotate_images = document.querySelectorAll(".rotate_img");
    let rotate_images_length = rotate_images.length;
    let rotate_index = 0;
    let timer = null;

    // Clear interval timer for every page loaded
    clearInterval(timer);
    // Rotate images
    timer = setInterval(() => {
        //Reset opacity to 0 for each image every time
        for (let i of rotate_images) {
            i.style.opacity = 0;
        }

        if (rotate_index === rotate_images_length) {
            rotate_index = 0;
        }

        console.log(rotate_images_length)
        console.log(rotate_index, rotate_images[rotate_index]);
        rotate_images[rotate_index].style.opacity = 1;
        rotate_index++;
    }, 3000)
</script>
</body>
</html>